@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700');
*{margin:0; padding:0;}
*:focus{outline: none;}

::selection{color: #fff; background: #435991}

body{font-family: 'Noto Sans KR', sans-serif !important; font-size:16px; line-height:1.5em; color:#313131; word-break:break-all; -webkit-font-smoothing: antialiased;   -moz-osx-font-smoothing: grayscale;}
a{color:inherit; text-decoration:none; cursor: pointer;}
a:hover{text-decoration: none;}
img{border:none; vertical-align: top; max-width: 100%}
ul, ol{list-style:none;}
address{font-style: normal;}
.cf{overflow: hidden;}
.cf:after{display: block; content:""; clear: both;}
input {vertical-align:top; /*-webkit-appearance: none; -moz-appearance: none; appearance: none;*/ border:none; overflow: visible;}
input:focus{outline: none;}
input:placeholder{color:#bbb;}
input::-webkit-input-placeholder{color:#bbb;}
input:-ms-input-placeholder{color:#bbb;}
address{font-style:normal;}
button{background: none; border:none; cursor: pointer;}
textarea{resize: none;}
textarea:placeholder{color:#bbb;}
textarea::-webkit-input-placeholder{color:#bbb;}
textarea:-ms-input-placeholder{color:#bbb;}
.display_none{display: none;}
table{width:100%; text-align: center; border-collapse: collapse; min-width:320px;}

@media all and (min-width:1440px){
}



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: Hyeon Naeun
*/

*{
    box-sizing: border-box;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





