@charset "utf-8";
/* CSS Document */

/*bottstrap 스타일 초기화 css*/
ol, ul,.h1, .h2, .h3, h1, h2, h3, .h4, .h5, .h6, h4, h5, h6,p{margin:0;}
.dropdown-menu{min-width:unset;}
a:focus, a:hover{color:#313131}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary{color: #fff;background-color: #9d6ae3;border: none;}

body{width:100%; min-height: 100vh; height: 100vh;}
#wrap{width:100%; min-height: 100%; position: relative;}
#wrap:after{display: block; clear: both; content: '';}


/*#header*/
.right{width:85%; height: 100%; float: right;}
#header{height: 4em; position: relative;}
#header .pageTit{font-size: 1.3rem; display: inline-block; vertical-align: middle;}
/*#header .utill{width: 8em; height: 2.5em; background: #a8a8a8; display: inline-block; text-align: center; position: absolute; right: 1em; top: 50%; transform: translateY(-50%);}*/
#header:after{content: ''; display: block; clear: both;}
#header div.preLogin{display: none; /*display:block*/}
#header div.aftLogin{display: none;/* display: block;*/}
#header .utill{display: inline-block; vertical-align: middle; float: right; font-size: .8rem; font-weight: 500;}
#header .utill div{display: inline-block;}
#header .utill .utillBtn button{cursor: pointer;}
#header .utill .utillBtn .joinBtn, .logoutBtn{color: #273968; margin-left: 1.5rem;}


/*container*/
#container{/*min-height:calc(100vh - 80px);*/}

#footer { height: 10rem; background: #ddd;}
.tableSmall {margin-bottom: 3em;}

/*content*/
.content{margin-bottom: 2.5em; width: 100%; position: relative;} /*21.05.14 추가*/ 
.con_01{width: 75%; display: inline-block; float: left;}
.con_02{/*width: 25%;*/ display: inline-block; float: right; display:none;}
.dataTable .includeKeywordLine{background-color: #BDC4E7;}


/*content*/
.backG{background: #eee; width: 100%; height: 100vmax; padding: .8em .6em;}
.backG:after{content: ''; display: block; clear: both;}
.backG .wBox{background: #fff;border-radius: 20px;padding: 1.5em;display: inline-block;}
.gBox {background: #F5F5F5;border-radius: 20px;padding: 1.5em;display: inline-block; width: 100%;margin-bottom: .5em;} /*21.05.14 추가*/
.gBox:first-child {border-radius: 0 20px 20px 20px;}

.backG .con_02 {background: #fff;border-radius: 20px;padding: 10px;width: calc(100% - 75% - .5em);float: right;position: absolute;right: calc(100% - 75% - .5em -.6em);top: .8em;display: none;overflow: scroll;height: 98vh;}/*21.05.14 추가*/

.memoTab ul li {display: inline-block;cursor: pointer;padding: .35em 1em;background: #fff;color: #A7AFDE;font-size: .9rem;margin-right: 5px;border-radius: 10px 10px 0 0;margin-bottom: 5px;}/*21.05.14 추가*/

.content .conTitle{font-size: .9rem; margin-bottom: .2em; cursor: pointer;} /*21.05.14 추가*/
.content .sub{font-size: .85rem; margin-bottom: .7em; line-height: 1.3rem;}
.content .hoverKeywordList{display: inline-block;width: 100%;vertical-align: top;}
.content .con_01>div{margin-bottom: 1em; border-bottom: 1px solid #eee; padding-bottom: 1em;}
.content .con_01>div:last-child{border-bottom: 0;}

.content .conTitle{display: inline-block; width: 140px; margin-right: 1em; font-size: .8rem; position: relative;} 
.content>div{/*margin-bottom: 1.5em;*/ position: relative;}
.content .conKeyword{display: inline-block;width: calc(100% - 155px - 1em);vertical-align: top;}

.con_01{width: 100%;}
.con_02{width: 100%;}
.con_02:after{content: ''; display: block; clear: both;}

.con_02 .wBoxWrap:after{content: '';display: block; clear: both;}
.con_02 .wBoxWrap h4{font-size: 1.1rem; margin-bottom: 10px;}
.con_02 .wBoxWrap p{font-size: .9rem;}
.con_02 .wBoxWrap span{font-size: .7rem; color: #BDBDBD; display: block; text-align: right; margin-top: 20px;}

.backG>.wBox:nth-child(1){width: 100%; float: left; margin-right: .5em; height: 100%;}
.backG .wBoxWrap .wBox{width: 100%; margin-bottom: 10px;}

/*gnb*/
#gnb{width: 15%; height: 100%; background: #435991; color: #fff; font-size: .9rem; position: fixed;}
#gnb .logo{display: inline-block; box-sizing:content-box; padding: 2em;}
#gnb .menu{}
#gnb .menu li{padding: .9em; cursor: pointer;}
#gnb .menu li.on{background-color: rgba( 255, 255, 255, 0.2 );}


/*inner*/
.inner{box-sizing: border-box; padding: 1.5rem; width: 100%;}
.inner:after{content: ''; display: block; clear: both;}
.content:after{content: ''; display: block; clear: both;}
#container .inner{padding: 0 1.8vw;}
.inner2{min-width: 220px; /*margin: 0 15px;*/ box-sizing: border-box;}


/*loginWrap*/
#loginHeader{width: 100%; height: 6em; text-align: center; padding: 2em;}

.loginWrap{max-width: 460px; width: auto; text-align: center; margin-top: 3em; min-width: 220px; margin: auto;}
/*.loginWrap .header h2{font-size: 1em;}*/
.loginWrap .header{margin-bottom: 3em;}
.loginWrap .header p{font-size: .9rem; color: #636363; margin-top: 1em;}

.loginWrap .bottom{font-size: .9rem; color: #a8a8a8; margin-top: 2em;}
.loginWrap .bottom span{cursor: pointer;}
.loginWrap .bottom span:nth-child(1):after{content: ''; display: inline-block; height: 13px; width: 2px; background: #eee; vertical-align: middle; margin-left: 30px;}
.loginWrap .bottom span:nth-child(2){margin-left: 30px;}

.loginWrap .inputData{margin-bottom: 20px;}
.loginWrap .inputData:after{content: ''; display: block; clear: both;}
.loginWrap .inputData input{width: 100%; border: 1px solid #e5e5e5; padding:/*10px 14px*/1em 1em; height: /*35*/60px; font-size: /*.7rem*/1rem;}
.loginWrap form .inputData .loginBtn{background: #273968; color: #fff; font-weight: 700; cursor: pointer; border: 1px solid #273968; /*padding: 0;*/}

.loginWrap .errorInput{text-align: left;}
.loginWrap .errorInput input{border-color: #F33323;}
.loginWrap .errorInput .errorMessage{display: block; font-size: /*.6rem*/.8rem; color: #F33323; margin-top:5px;}

.loginWrap .inputData .tel{width: 70%; margin-right: 10px; float: left;}
.loginWrap .inputData .codeBtn{width: calc(100% - 70% - 10px); background: #fff; border: 2px solid #5E6EC0; color: #273968; font-weight: 700; font-size: /*.6rem*/.9rem; cursor: pointer;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}

.terms{font-size: .9rem; color: #636363; margin-bottom: 3em;}
.terms ul li{text-align: left; margin-bottom: .3em;}
.terms ul p{display: inline-block; cursor: pointer;}
.terms ul li:after{content: '';display: block; clear: both;}
.terms ul li span.checkBtn{display: inline-block; width: 24px; height: 24px; vertical-align: middle; margin-right: 5px; cursor: pointer;}
.terms ul li span.moreCon{text-decoration: underline; float: right;  cursor: pointer;}


/*기본 keyword 공통*/
/*x버튼 키워드*/
.addedKeyword ul li{display: inline-block;background: #BDC4E7;font-size: .9rem;border-radius: 20px;padding: .2em .6em .2em .8em;margin-right: .5em;vertical-align: middle;}
.addedKeyword ul li span{display: inline-block;width: 1.4em;height: 1.4em;background: #5E6EC0;border-radius: 50%;margin-left: .2em;cursor: pointer;padding: .15em;vertical-align: text-bottom;}
.addedKeyword ul li span img{width: 1.4em;vertical-align: middle;}

.searchedKeyword ul li{background: #ddd; font-size: .75rem; margin-left: 1em; cursor: pointer; margin-bottom:.4em;}/*21.05.14 추가*/
.searchedKeyword ul li span{width: 1.3em;height: 1.3em;background: #888;margin-left: .3em;padding: .1em;} /*21.05.14 추가*/

/*기본 키워드*/
.conKeyword span, .hoverKeywordList span{border: 1px solid #A7AFDE;border-radius: 3em;padding: .1rem .5rem;white-space: nowrap;cursor: pointer;color: #435991;font-weight: 500;margin-bottom: .4em;margin-right: .2em;font-size: .8rem;display: inline-block;}
.conKeyword span.on{background: #BDC4E7; color: #313131; border: none; border: 1px solid #BDC4E7;} 
.content .conKeyword span.add, span.more{display: inline-block;background: #5E6EC0;border-radius: 50%;padding: .1em;vertical-align: bottom;border: 1px solid #5E6EC0;}
.content .conKeyword span.add, span.more img{width: 1.5rem;}


/*table*/
table{border-collapse: collapse; border-radius: 1em; /*overflow: hidden;*/ font-size: .85rem;}
table:after{content: ''; display: block; clear: both;}
table tr td:after{content: ''; display: block; clear: both;}
table tr th{font-size: .85rem;}
table .tableTitle{    background: #273968; color: #fff; height: 50px; border-radius: 1.5em;}
table tr td{border-bottom: 1px solid #eee; padding: 1em;}
table tr td.stockTit{font-size: .9rem; font-weight: 500; color: #5E6EC0; cursor:pointer;}
table tr td.txtBlue img, .txtRed img{width: 1em; height: 1em; vertical-align: middle; margin-right: .3em;} /*21.05.14 수정*/
table tr td.txtBlack img{width: 1em; height: 3em; vertical-align: middle; margin-right: .3em;}

.tableSmall{padding-right: 2em;}
.tableBig{width: 100%;}

.hoverMenu{background: #fff; font-size: .9rem; padding: 10px 20px; width: 180px; border-radius: 10px; z-index: 30; position: absolute; right: -8em; top: 0; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);display: none;}
.hoverMenu li{margin: 5px 0; cursor: pointer;}

.dataTable .hoverMenu{background: #fff; font-size: .9rem; padding: 10px 20px; width: 180px; border-radius: 10px; z-index: 30; position: absolute; right: -5em; top: .7em; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);display: none;}
.dataTable .hoverMenu li:not(:last-child){margin: 5px 0; cursor: pointer; line-height: 1.5em; color: #313131; word-break: break-all; text-align:left; font-weight: normal;}
.dataTable tr:not(.tableTitle) td:nth-child(1){position: relative;}

/*datepicker*/
.datePicker{font-size: 1rem; text-align:center;}
.datePicker img{width: 1.2em; vertical-align: middle; margin: 0 .6em; cursor: pointer;} 
.datePicker img:nth-child(2){margin-right: 0;} 


/*font color*/
.txtBlue{color: #4680F6;}
.txtRed{color: #DC4134;}
.txtBlack{color: #313131;}

/*join */
.terms textarea{
    padding: 20px; width: 100%; height: 150px;
    background: #fff; border: 1px solid #d8d9df;
  font-size: 12px; color: #98989f; line-height: 1.6em;
  overflow: auto; resize: none;
}

.terms .errorMessage{display: block; font-size: /*.6rem*/.8rem; color: #F33323; margin-top:5px;}

/*가로크기 퍼센트*/
.w5p{width:5%;}
.w10p{width:10%;}
.w15p{width:15%;}
.w20p{width:20%;}
.w25p{width:25%;}
.w30p{width:30%;}
.w35p{width:35%;}
.w40p{width:40%;}
.w45p{width:45%;}
.w50p{width:50%;}
.w55p{width:55%;}
.w60p{width:60%;}
.w65p{width:65%;}
.w70p{width:70%;}
.w80p{width:80%;}
.w90p{width:90%;}
.w100p{width:100%;}


/*popupWrap*/
.popupMask{position: absolute; left: 0; top: 0; z-index: 90; background: rgba(0,0,0,0.5); width: 100%; height: 100%; display: none;}
.popupWrap{background: #fff; width: 50%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); border-radius: 10px; padding: 3em 3em 2em; z-index: 100; display: none;}

.popupKeyword{display: none;}
.popupMemo{display: none;}
.popupUrl{display: none;}

.popupWrap .popupTitle{text-align: center; margin-bottom: 4em; }
.popupWrap .popupContent:after{content: ''; display: block; clear: both;}
.popupWrap .popupContent .inputKeyword input{white-space: normal; word-wrap: break-word; overflow: hidden; width: 100%;}
.popupWrap .popupContent .inputKeyword:first-child input{border-bottom: 1px solid #bdbdbd; width: 100%; font-size: 14px; padding-bottom: .3em;}
.popupWrap .popupContent .inputKeyword:nth-child(2) input{margin: 20px 0 50px 0; width: 100%;}
.popupWrap .popupContent button{background: #435991; color: #fff; border-radius: .5em; padding: 0.6em 1em; float: right; margin-top: 4em; font-size: 14px; font-weight: 500; width: 100px;}
.popupWrap .close{position: absolute; right: 20px; top: 20px; width: 25px; height: 25px; cursor: pointer;}

.inputKeyword{position: relative;}
.inputKeyword .addedKeyword{position: absolute; left: 0; top: 0; transform: translateY(-50%); display: block; }
.inputKeyword .addedKeyword ul li{padding: .2em 1.3em;}

.inputKeyword .alertExist{height: 2.5em;}
.inputKeyword .alertExist p{font-size: 13px; color: #DC4134; margin-bottom: 1em; font-weight: 300;  display: block;}



/* ranking */
.ranking{border-left: 1px solid #bdbdbd;padding-left: 2em; /*height: 100%;*/font-size: .8rem;} /*21.05.14 수정*/
.ranking ul li{margin-bottom: .7em; cursor: pointer;}
.ranking ul li span:not(.keywordName){display: inline-block; padding: .2em; border-radius: .3em; width: 1.7em; height: 1.7em; text-align: center; line-height: 1.2em; font-size: .8rem; margin-right: .6em; vertical-align: middle;}
.ranking .top5{font-weight: 500; font-size: .9rem;}
.ranking .top5 li span:not(.keywordName){background: #5E6EC0; color: #fff;}
.ranking .top10 li{font-size: .85rem;}
.ranking .top10 li span:not(.keywordName){border: 1px solid #636363;}

/*myMemoWrap*/ /*21.05.14  searchTheme.css > index.css로 옮김*/
.memoTab:after{content: ''; display: block; clear: both;}
.memoTab ul{float: left;}
/*.memoTab ul li{display: inline-block; cursor: pointer; padding: .5em 1em; background: #fff; color: #A7AFDE; font-size: .9rem; margin-right: 5px; border-radius: 10px 10px 0 0; margin-bottom: 5px;}*/ /*21.05.14 수정 후 index.css로 옮김*/
.memoTab ul li.on{background: #273968; color: #fff;}
.memoTab ul li.infoTab{/*display: none;*/}

.con_02 .wBoxWrap .myMemo{position: relative;}
.con_02 .wBoxWrap .myMemo img{position: absolute; right: 0; top: 0; display: inline-block; width: 1.2rem; cursor: pointer;}

.myMemo .timg{width: 100%; margin-top: 20px; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);}
.myMemo .timg p{display: block; width: 100%; height: 120px; background: #ddd}
.myMemo .tTxt{padding: 10px;}
.myMemo .tTxt span{text-align: left; margin-top: 10px;}

.myMemo ul{background: #fff; position: absolute; right: 0; top: 30px; font-size: .85em; width: 60px; padding: 5px 10px; border-radius: 5px; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); display:none;}

.myMemo ul li{cursor: pointer;}
.myMemo ul li:first-child{border-bottom: 1px solid #ddd; }



/*fab*/

        .fab {
        	  display:none;
              position: fixed;
              width: 56px;
              right: 2rem;
              bottom: 2rem;
              margin-left: -28px;
            cursor: pointer;
            }
            
            .fab:hover .fab-buttons {
              opacity: 1;
              visibility: visible;
            }
            
            .fab:hover .fab-buttons__link {
              transform: scaleY(1) scaleX(1) translateY(-16px) translateX(0px);
            }
            
            .fab-action-button:hover + .fab-buttons .fab-buttons__link:before {
              visibility: visible;
              opacity: 1;
              transform: scale(1);
              transform-origin: right center 0;
              transition-delay: 0.3s;
            }
            
            .fab-action-button {
              position: absolute;
              bottom: 0;
              display: block;
              width: 56px;
              height: 56px;
              background-color: #273968;
              border-radius: 50%;
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            }
            
            .fab-buttons {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 50px;
              list-style: none;
              margin: 0;
              padding: 0;
              opacity: 0;
              visibility: hidden;
              transition: 0.2s;
            }
            
            .fab-action-button__icon {
              display: inline-block;
              width: 56px;
              height: 56px;
              padding: .3em;
              
            }
            .fab-action-button__icon img{width: 3rem;}
            
            .fab-buttons__item {
              display: block;
              text-align: center;
              margin: 12px 0;
            }
            
            .fab-buttons__link {
              display: inline-block;
              width: 40px;
              height: 40px;
              text-decoration: none;
              background-color: #ffffff;
              border-radius: 50%;
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
              transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px);
              -moz-transition: .3s;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s;
            }
            
            [data-tooltip]:before {
              top: 50%;
              margin-top: -11px;
              font-weight: 600;
              border-radius: 2px;
              color: #313131;
              content: attr(data-tooltip);
              font-size: 14px;
              text-decoration: none;
              visibility: hidden;
              opacity: 0;
              margin-right: 16px;
              position: absolute;
              transform: scale(0);
              right: 100%;
              white-space: nowrap;
              transform-origin: top right;
              transition: all .3s cubic-bezier(.25, .8, .25, 1);
            }
            
            [data-tooltip]:hover:before {
              visibility: visible;
              opacity: 1;
              transform: scale(1);
              transform-origin: right center 0;
            }
            
            .icon-material {
              display: inline-block;
              width: 40px;
              height: 40px;
            }

