@charset "utf-8";
/* CSS Document */

/*search*/
.search{margin: 1em 0 2em;}
.search:after{content: ''; display: block; clear: both;}
.searchInput:after{content: ''; display: block; clear: both;}
.search .addedKeyword{display: block;}
.search .searchedKeyword{margin-left:1.5em;}
.searchInput{background: #F1F4FC;position: relative;margin-bottom: 1em;float: right;width: 100%;border-radius: 10px;}
.searchInput input{background: #F1F4FC;width: 100%;border-radius: 10px;padding: 1.4em 1.4em 1.4em 1.2em;font-size: .9rem;font-weight: 700;float: right;}
.searchInput .searchImg{width: 1.8em; position: absolute; right: .8em; top: 50%; transform: translateY(-50%); cursor: pointer;}

.searchInput .addedKeyword{position: absolute; left: 2%; top: 50%; transform: translateY(-50%); display: block;}
.searchInput .addedKeyword ul li{padding: .2em .6em .2em 1em;}
.addKeywordWrap .addedKeyword ul li{margin:.5em .5em  0 .5em;}


/*filter*/
.filter{border-radius: 4px; background: #eeeeee; display: inline-block; border: 1px solid #eeeeee; margin-bottom: .5em; margin-right: .8em; }
.filter:nth-child(2) button{padding: .8em 1em;}
.filter button{font-weight: 700;padding: .6em 1em;color: #a8a8a8;font-size: .85rem;}
.filter button.active{background: #fff; color: #313131; border: 2px solid #435991; border-radius: 4px;}


.conTitle .hoverMenu{background: #fff; font-size: .9rem; padding: 10px 20px; width: 180px; border-radius: 10px; z-index: 30; position: absolute; right: -8em; top: 0; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);display: none;}
.conTitle .hoverMenu li{margin: 5px 0; cursor: pointer;}


/*fab*/
/*.fabWrap{position: relative;}
.fabWrap .fab{display: inline-block; position: fixed; right: 2rem; bottom: 2rem; background: #273968 ;border-radius: 50%; padding: .4em; vertical-align: bottom; cursor: pointer;}
.fabWrap .fab .fabBtn{width: 2.5em;}
.fabWrap .fabPlus{position: absolute; right: 10px; bottom: 10px;}
.fabWrap .fabPlus div{}
.fabWrap .fabPlus div span{display: inline-block; background: #5E6EC0; width: 2rem; border-radius: 50%;}
.fabWrap .fabPlus div p{display: inline-block; text-align: right;}*/


.autocomplete { position: relative; display: inline-block; } 
.autocomplete-items { position: absolute; /*border: 1px solid #d4d4d4;*/ border-bottom: none; border-top: none; z-index: 99; top: 100%; left: 0; right: 0; border-radius: 10px;  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);}
.autocomplete-items div { padding: 10px; cursor: pointer; background-color: #fff; border-bottom: 1px solid #d4d4d4; } 
.autocomplete-items div:hover { background-color: #e9e9e9; } 
.autocomplete-active { background-color: DodgerBlue !important; color: #ffffff; }





