@charset "utf-8";
/* CSS Document */


/*search*/

/*filter*/
.filter{background: #fff; display: inline-block; margin-bottom: 1em;}
.filter button{width: 5.5em;height: 2.5em;font-weight: 700; color: #a8a8a8;border: 1px solid #bdbdbd;border-radius: 5px;font-size: .85rem; margin-right: .6em;}
.filter button.active{background: #BDC4E7; color: #313131; border: 2px solid #BDC4E7; border-radius: 4px;}

.search{width: 75%; margin: 1em 0 1em; }
.search .searchTab:after{content: ''; display: block; clear: both;}


/*datePicker*/
.search .searchTab .datePicker{display: inline-block; float: right;}


/*content*/
.con_01{width: 100%;}
.con_02{height: 100%; width: 100%;}

.content .conTitle {
    cursor:pointer;
}

.backG .wBox:nth-child(1){width: 100%; float: left; margin-right: .5em; height: 100%;}
.backG .wBox:nth-child(2){width: calc(100% - 75% - .5em); float: right; height: 100%;}