@charset "utf-8";
/* CSS Document */


/*datePicker*/
div .datePicker{margin-bottom: 1em; text-align: center; width: 75%;}

/*content*/ /*21.05.14 추가*/
.con_01 {width: 80%;display: inline-block;float: left;}
.con_02 {width: 20%;display: inline-block;float: right;}
