@charset "utf-8";
/* CSS Document */


/* table */
table tr td:after{display: block; clear: both; content: '';}
table tr td div.conKeyword{float: left;white-space: nowrap;}
/*table .conKeyword span{margin-bottom: 0;}*/


/*datePicker*/
div .datePicker{text-align: center;}


/*search*/
.search{width: 100%; margin: 1em 0 1em;}
.search .filter{display: inline-block;}
.search .filter label input[type='radio']{vertical-align: sub; margin-right: .3em;}
.search .filter .radioWrap{margin-top: 1em;}
.search .filter .radioWrap label{margin-right: .6em;font-weight: 500;font-size: .9rem;}
.search .filter .radioWrap label:last-child{margin-right: 0;}


/*filter*/
.filter{background: #fff; display: inline-block; margin-bottom: 1em;}
.filter button{width: 5.5em;height: 2.5em;font-weight: 700; color: #a8a8a8;border: 1px solid #bdbdbd;border-radius: 5px;font-size: .85rem; margin-right: .6em;}
.filter button.active{background: #BDC4E7; color: #313131; border: 2px solid #BDC4E7; border-radius: 4px;}

.filter02{display: inline-block; vertical-align: middle; margin-left: 10px;}
.filter02:after{content: ''; display: inline-block; width: 2px; height: 15px; background: #bdbdbd; vertical-align: middle; margin: 0 10px;}
.filter03{display: inline-block; vertical-align: middle;}


/*keywordHover*/
.keywordHover{padding: .8rem;width: 300px;background: #fff;border-radius: 10px;box-shadow: 5px 5px 20px 5px rgba(0,0,0,.05);border: 1px solid #eee;position: absolute;right: 3.5em;top: 1.5em;}
.keywordHover .conKeyword{display: inline-block;}


